body {
  font-family: poppins;
  background-color: #f0f0fa;
}

header {
  border-bottom: 2px, solid, #8d8db3;
  padding-bottom: 30px;
}
footer {
  border-bottom: 2px, solid, #8d8db3;
  padding-top: 30px;
}
div {
  display: block;
}
.appContainer {
  background-color: white;
  padding: 50px;
  margin: 60px auto;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 30px 50px #bcbce2;
}

form {
  display: block;
}
.searchCity {
  background-color: rgb(240, 240, 250);
  border: none;
  font-size: 16px;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
}
.searchButton {
  background-color: #8d8db3;
  color: white;
  border: none;
  font-size: 16px;
  padding: 20px;
  border-radius: 5px;
}
h1 {
  font-size: 60px;
  margin: 0 auto;
}
p {
  color: rgb(105, 105, 105);
  margin: 0 auto;
  padding: 10px;
}
strong {
  color: #9494e0;
}
.currentWeather {
  display: flex;
  justify-content: space-evenly;
}
.currentTemp {
  padding-top: 0px;
}
.currentTempValue {
  font-size: 60px;
  position: relative;
}
.currentTempUnit {
  font-size: 48px;
  font-weight: thin;
  position: relative;
  top: -15px;
}
.currentTempIcon {
  font-size: 48px;
  text-align: center;
  display: block;
  bottom: 10px;
}
.currentWeatherDetails{
  display: block;
  text-align: center;
  padding: 10px;
}
#day0Weather{
  display:block;
  text-align:center;
  color:rgb(141, 141, 179);
  font-weight: bold;
}
.forecastElements{
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.dailyForecast{
  background: linear-gradient(160deg, rgb(255, 255, 255) 0%, rgb(141, 141, 179) 100%);
  color: white;
  border: none;
  margin: 5px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 80px;
}
.forecastIcon{
  object-fit: cover;
  vertical-align: middle;
  margin: -20px;
}
.forecastTemp{
  font-size: 60px;
  position: relative;
}
.forecastWeather{
  padding:5px;
  font-size: 12px;
}
.forecastIcon{
  display:block;
  text-align:center;
  padding 0px;
  margin: -2 auto;
  vertical-align: middle;
}
.windUnits{
  font-weight: lighter;
}
a {
  color: #9494e0;
}
a:visited {
  color: #8d8db3;
}
